/* NavBar Section Start */

.nav_bar{
    /* padding: 1em; */
    max-width: 100%;
    background-color: var(--mainbg-color);
}

.nav_content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}

.nav_icon{
    padding-right: 4em;
}

.nav_bar img{
    display: block;
    margin: auto;
    min-height: 30px;
    max-height: 30px;
}

.nav_links{
    margin-right: 80em;
}

.nav_links a{
    display: inline-block;
    padding: 0.5rem 1rem;
    /* margin-right: 2em; */
    color: var(--font-color);
    font-size: .95rem;
    font-weight: 100;
    line-height: 40px;
}

.nav_options a:hover{
    color: var(--main-color);
}

.nav_user{
    padding: 0.75rem;
    width: 80px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 2px #212123;
}

.nav_user img{
    position: relative;
    right: 10px;
    border-radius: 20px;
    background-color: var(--dark-gray);
}

.banner_container img{
    max-width: 100%;
}

/* NavBar Section End */

.mbanner_gradient{
    z-index: 4;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 6rem;
    background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.welcome_text{
    padding-left: 5rem;
    padding-top: 5rem;
    color: var(--font-color);
    font-size: 1.2rem;
}

.vitrine_container .cards_items{
    max-width: 30em;
    max-height: 25em;
}