/* NavBar Section Start */

.nav_bar{
    max-width: 100%;
    position: fixed;
    z-index: 4;
}

.nav_content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}

.nav_icon{
    padding-right: 4em;
}

.nav_bar img{
    display: block;
    margin: auto;
    min-height: 30px;
    max-height: 30px;
}

.nav_links{
    margin-right: 80em;
}

.nav_links a{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--font-color);
    font-size: .95rem;
    font-weight: 100;
    line-height: 40px;
    transition: color 0.2s;
}

.nav_links a:hover{
    color: var(--red-color);
}

.nav_user{
    padding: 0.75rem;
    width: 80px;
    background: var(--dark-gray);
    border-radius: 50px;
    box-shadow: 0 1px 2px #212123;
}

.nav_user img{
    position: relative;
    right: 10px;
    border-radius: 20px;
    background-color: #c3c3c3;
}

/* NavBar Section End */


/* Main Section Start */
.banner_container img{
    max-width: 100%;
}

.banner_container::after{
    content: '';
    position: absolute;
    z-index: 4;
    bottom: 179px;
    left: 0px;
    right: 0px;
    height: 6rem;
    background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.cards_items{
    width: 22%;
    max-width: 280px;
    padding-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.vitrine_container img{
    max-width: 100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(66, 66, 66, 0.19), 0 6px 6px rgba(66, 66, 66, 0.19);
}

.vitrine_container_destaques{
    max-width: 100%;
}

.cards_items_destaques{
    width: 22%;
    max-width: 280px;
    padding-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.vitrine_container_destaques img{
    width: 100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(66, 66, 66, 0.19), 0 6px 6px rgba(66, 66, 66, 0.19);
}

.vitrine_leitura{
    max-width: 100%;
}

.cards_items_leitura{
    width: 22%;
    max-width: 280px;
    padding-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.vitrine_leitura img{
    max-width: 100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(66, 66, 66, 0.19), 0 6px 6px rgba(66, 66, 66, 0.19);
}

/* Main Section End */

/* Footer Start */

.fcontent{
    margin: 2rem 0;
    padding: 2rem 3rem;
    display: flex;
    border-top: 1px solid #363739;
}

.fcopyright{
    color: var(--font-color);
    font-size: .8rem;
}

/* Footer End */