:root{
    --mainbg-color: #121212;
    --dark-gray: #484848;
    --red-color: #8a1a12;
    --font-color: #bababa;  
    --white-color: #fff;
}

body{
    font-family: "Inter",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--mainbg-color);
    text-align: left;
}
