:root{
    --mainbg-color: #1e1e1e;
    --dark-gray: #484848;
    --red-color: #8a1a12;
    --font-color: #bababa;  
}

body{
    font-family: "Inter",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--bg-color);
    text-align: left;
}
